/* .tableLbl {
    height: 40px;
    background: #1e3e88;
    width: 100%;
} */

.tableLbl span {
  color: transparent;
  font-weight: bolder;
  line-height: 30px;
}

.tableLbl {
  height: 40px;
  bottom: 0px;
  top: 15px;
  position: relative; /* child absolute */
  margin: 0 -9999rem;
  /* add back section padding value */
  padding: .25rem 9999rem;
  /* background: #1e3e88; */
  background: linear-gradient(60deg, #666668, #e7e7eb);
  font-size: 1.125rem;
}