<div class="spacer"></div>
<div class="main-content" style="padding: 10px 15px;">
  <div class="container-fluid">
    <div class="row stats">

      <div class="col-xl">
        <div class="card" style="cursor: default;">
          <div class="card-header card-header-warning">
            <p class="category" style="text-align: center; font-weight: 400;">RETAILERS TOTAL SUBMISSIONS</p>
          </div>
          <div class="card-body" style="text-align: center;">
            <h4 class="card-title" style="text-align: center; font-size: 1rem; font-weight: 700;">{{retailerApproved +
                retailerDenied || 0}}</h4>
          </div>
        </div>
      </div>

      <div class="col-xl">
        <div class="card" (click)="gotoPage('/retailers', 2)">
          <div class="card-header card-header-warning">
            <p class="category" style="text-align: center; font-weight: 400;">RETAILERS TOTAL PENDING</p>
          </div>
          <div class="card-body" style="text-align: center;">
            <h4 class="card-title" style="text-align: center; font-size: 1rem; font-weight: 700;">{{retailerPending || 0}}</h4>
          </div>
        </div>
      </div>

      <div class="col-xl">
        <div class="card" (click)="gotoPage('/retailers', 3)">
          <div class="card-header card-header-warning">
            <p class="category" style="text-align: center; font-weight: 400;">RETAILERS TOTAL APPROVED</p>
          </div>
          <div class="card-body" style="text-align: center;">
            <h4 class="card-title" style="text-align: center; font-size: 1rem; font-weight: 700;">{{retailerApproved || 0}}</h4>
          </div>
        </div>
      </div>

      <div class="col-xl">
        <div class="card" (click)="gotoPage('/retailers', 4)">
          <div class="card-header card-header-warning">
            <p class="category" style="text-align: center; font-weight: 400;">RETAILERS TOTAL DENIED</p>
          </div>
          <div class="card-body" style="text-align: center;">
            <h4 class="card-title" style="text-align: center; font-size: 1rem; font-weight: 700;">{{retailerDenied || 0}}</h4>
          </div>
        </div>
      </div>

      <div class="col-xl">
        <div class="card" style="cursor: default;">
          <div class="card-header card-header-success">
            <p class="category" style="text-align: center; font-weight: 400;">GROWERS TOTAL SUBMISSIONS</p>
          </div>
          <div class="card-body" style="text-align: center;">
            <h4 class="card-title" style="text-align: center; font-size: 1rem; font-weight: 700;">{{growerApproved +
              growerDenied || 0}}</h4>
          </div>
        </div>
      </div>

      <div class="col-xl">
        <div class="card" (click)="gotoPage('/growers', 2)">
          <div class="card-header card-header-success">
            <p class="category" style="text-align: center; font-weight: 400;">GROWERS TOTAL PENDING</p>
          </div>
          <div class="card-body" style="text-align: center;">
            <h4 class="card-title" style="text-align: center; font-size: 1rem; font-weight: 700;">{{growerPending ||
              0}}</h4>
          </div>
        </div>
      </div>

      <div class="col-xl">
        <div class="card" (click)="gotoPage('/growers', 1)">
          <div class="card-header card-header-success">
            <p class="category" style="text-align: center; font-weight: 400;">GROWERS TOTAL APPROVED</p>
          </div>
          <div class="card-body" style="text-align: center;">
            <h4 class="card-title" style="text-align: center; font-size: 1rem; font-weight: 700;">{{growerApproved ||
              0}}</h4>
          </div>
        </div>
      </div>

      <div class="col-xl">
        <div class="card" (click)="gotoPage('/growers', 4)">
          <div class="card-header card-header-success">
            <p class="category" style="text-align: center; font-weight: 400;">GROWERS TOTAL DENIED</p>
          </div>
          <div class="card-body" style="text-align: center;">
            <h4 class="card-title" style="text-align: center; font-size: 1rem; font-weight: 700;">{{growerDenied || 0}}</h4>
          </div>
        </div>
      </div>

    </div>

    <app-growers [dashboard]="dashboardStatus" (pendingLength)="getLength_Grower(2, $event)" (approveLength)="getLength_Grower(1, $event)"
      (deniedlength)="getLength_Grower(4, $event)"></app-growers>
    <app-retailers [dashboard]="dashboardStatus" (pendingLength)="getLength_Retailer(2, $event)" (approveLength)="getLength_Retailer(3, $event)"
      (deniedlength)="getLength_Retailer(4, $event)"></app-retailers>

    <div class="spacer"></div>
    <div class="spacer"></div>
  </div>
</div>