<div class="spacer"></div>
<div class="main-content" style="padding: 10px 15px;">
  <div class="container-fluid">
    <div class="row stats">

      <div class="col-xl">
        <div class="card">
          <div class="card-header card-header-warning">
            <p class="category" style="text-align: center; font-weight: 400;">RETAILERS TOTAL SUBMISSIONS</p>
            <h4 class="card-title" style="text-align: center; font-size: 1rem; font-weight: 700;">0</h4>
          </div>
          <div class="card-body" style="text-align: center;">
            More Info
          </div>
        </div>
      </div>

      <div class="col-xl">
        <div class="card">
          <div class="card-header card-header-warning">
            <p class="category" style="text-align: center; font-weight: 400;">RETAILERS TOTAL PENDING</p>
            <h4 class="card-title" style="text-align: center; font-size: 1rem; font-weight: 700;">0</h4>
          </div>
          <div class="card-body" style="text-align: center;">
            More Info
          </div>
        </div>
      </div>

      <div class="col-xl">
        <div class="card">
          <div class="card-header card-header-warning">
            <p class="category" style="text-align: center; font-weight: 400;">RETAILERS TOTAL APPROVED</p>
            <h4 class="card-title" style="text-align: center; font-size: 1rem; font-weight: 700;">0</h4>
          </div>
          <div class="card-body" style="text-align: center;">
            More Info
          </div>
        </div>
      </div>

      <div class="col-xl">
        <div class="card">
          <div class="card-header card-header-warning">
            <p class="category" style="text-align: center; font-weight: 400;">RETAILERS TOTAL DENIED</p>
            <h4 class="card-title" style="text-align: center; font-size: 1rem; font-weight: 700;">0</h4>
          </div>
          <div class="card-body" style="text-align: center;">
            More Info
          </div>
        </div>
      </div>

      <div class="col-xl">
        <div class="card">
          <div class="card-header card-header-success">
            <p class="category" style="text-align: center; font-weight: 400;">GROWERS TOTAL SUBMISSIONS</p>
            <h4 class="card-title" style="text-align: center; font-size: 1rem; font-weight: 700;">0</h4>
          </div>
          <div class="card-body" style="text-align: center;">
            More Info
          </div>
        </div>
      </div>

      <div class="col-xl">
        <div class="card">
          <div class="card-header card-header-success">
            <p class="category" style="text-align: center; font-weight: 400;">GROWERS TOTAL PENDING</p>
            <h4 class="card-title" style="text-align: center; font-size: 1rem; font-weight: 700;">0</h4>
          </div>
          <div class="card-body" style="text-align: center;">
            More Info
          </div>
        </div>
      </div>

      <div class="col-xl">
        <div class="card">
          <div class="card-header card-header-success">
            <p class="category" style="text-align: center; font-weight: 400;">GROWERS TOTAL APPROVED</p>
            <h4 class="card-title" style="text-align: center; font-size: 1rem; font-weight: 700;">0</h4>
          </div>
          <div class="card-body" style="text-align: center;">
            More Info
          </div>
        </div>
      </div>

      <div class="col-xl">
        <div class="card">
          <div class="card-header card-header-success">
            <p class="category" style="text-align: center; font-weight: 400;">GROWERS TOTAL DENIED</p>
            <h4 class="card-title" style="text-align: center; font-size: 1rem; font-weight: 700;">0</h4>
          </div>
          <div class="card-body" style="text-align: center;">
            More Info
          </div>
        </div>
      </div>

    </div>

    <app-growers [dashboard]="dashboardStatus"></app-growers>
    <app-retailers [dashboard]="dashboardStatus"></app-retailers>

    <div class="spacer"></div>
    <div class="spacer"></div>
  </div>
</div>