.modal {
    text-align: center;
    padding: 0!important;
}

.modal::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 400px;
}

.modal-header {
    margin: 0 auto;
}

.modal-header h4 {
    font-weight: 500;
}

.modal-body h5 {
    font-weight: 400;
}

.modal-footer {
    margin: 0 auto;
}
  
.onDashboard {
    margin-top: -55px !important;
    padding: 0px 0px !important;
    min-height: calc(0vh - 123px) !important;
}

.onDashboard .container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.onDashboard .tableLbl {
    /* background: #34495e !important; */
    background: #6f7276 !important
}

.card .card-header.card-header-blue {
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
}

.card .card-body {
    margin-left: 15px;
    margin-right: 15px;
}


.growerTable {
    margin-top: 30px !important;
    margin-bottom: 0px !important;
}

.viewDataTable {
    margin-top: 0px !important;
}

.tableLbl {
    height: 40px;
    /* background: #34495e; */
    background: linear-gradient(60deg, #66bb6a, #43a047);
    text-align: left;
    /* margin-top: 50px; */
    margin-bottom: 20px;
    border: solid;
    border-color: transparent;
    border-radius: 3px;
}

.tableLbl span {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 35px;
}

.viewDataStyle {
    height: 30px;
    background: linear-gradient(60deg, #3a3e46, #57595e);
    /* background: #3a3e46; */
    margin-top: 10px;
    /*  margin-bottom: 20px; */
    
}

.viewDataStyle thead {
    background: #3a3e46;
    
}

.viewDataStyle tr {
    font-size: 1rem;
    color: #fff;
}

.viewDataStyle span {
    color: #fff;
    font-weight: bolder;
    line-height: 30px;
    font-size: 0.9rem;
}

.viewDataCol3 .col-2 {
    /* background: #459f67; */
    background: linear-gradient(60deg, #459f67, #4BAF50);
    color: #fff;
    margin-top: 1px;
    /* margin-left: 15px; */
    line-height: 30px;
    font-weight: bolder;
    font-size: 0.7rem;
}

.viewDataCol3 .col-10 {
    background: #dbe3e8;
    color: #000;
    margin-top: 1px;
    /* margin-right: -15px; */
    /* margin-left: -30px; */
    line-height: 30px;
    font-weight: bolder;
    font-size: 0.7rem;
  }

.viewDataProductsheader .col-4 {
    /* background: #3a3e46; */
    background: linear-gradient(60deg, #3a3e46, #57595e);
    color: #fff;
    margin: 1px;
    /* margin-right: -10px; */
    line-height: 30px;
    font-weight: bolder;
    font-size: 0.7rem;
    text-align: center;
    
}

.viewDataProductsheader .col {
    /* background: #3a3e46; */
    background: linear-gradient(60deg, #3a3e46, #57595e);
    color: #fff;
    margin: 1px;
    line-height: 30px;
    font-weight: bolder;
    font-size: 0.7rem;
    text-align: center;
    
}

.viewDataProductsbody .col-4 {
    background: #fff;
    color: #000;
    margin: 1px;
    /* margin-right: -10px; */
    line-height: 30px;
    font-weight: bolder;
    font-size: 0.7rem;
    text-align: center;
    
}

.viewDataProductsbody .col {
    background: #fff;
    color: #000;
    margin: 1px;
    line-height: 30px;
    font-weight: bolder;
    font-size: 0.7rem;
    text-align: center;
    
}

.viewDataProductsbody input {
    text-align: center;
    border: none;
}

.btnStyles button {
    padding: 10px 20px;
    margin: 0px 15px;
}

/* .btnStyles .btn-success {
    background: #459f67;
}

.btnStyles .btn-danger {
    background: #fc1818;
} */
  
.goBack {
  color: #0ca126;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
}

tbody td {
  text-align: center;
  cursor: pointer;
}

.spacer {
    height: 20px;
}

.dataVal {
    font-weight: 600;
    font-size: 1.125rem;
}

.dataVal .mat-icon-button {
    width: 0px;
}

.productTbl thead th {
    font-weight: 600;
    font-size: 1.2rem;
}

.productTbl tbody td {
    font-weight: 600;
    font-size: 1rem;
    cursor: default;
}

.transDetails .row {
    margin-bottom: 5px;
}

.nav-link.active {
    background-color: rgba(255, 255, 255, 0.2) !important;
    transition: 0.3s background-color 0.2s !important;
}

.navLink {
    display: block;
    border: 0 !important;
    color: #fff !important;
    font-weight: 500;
    margin: 0;
    border-radius: 3px;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 15px;
    background-color: transparent;
    transition: 0.3s background-color 0s;
}

.dateStyle {
    position: absolute;
    right: 20px;
}

.dateStyle button {
    font-weight: 600;
    font-size: .9rem;
    padding: 10px 30px;
    /* line-height: 40px; */
    /* margin-right: 15px; */
    cursor: pointer;
    color: #fff !important;
    background-color: #ff9800 !important;
    border-color: #d3d3d6 !important;
    box-shadow: 0 2px 2px 0 rgba(204, 204, 204, 0.15), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0, 0, 0, 0.14) !important;
}

.dateStyle mat-label {
    font-weight: 600;
    font-size: .9rem; 
    /* line-height: 40px; */
}