<div class="spacer"></div>
<div class="main-content" [ngClass]="{ onDashboard: dashboard}" style="padding: 10px 15px;">
  <div class="container-fluid" style="padding-right: 0px; padding-left: 0px;">

    <div class="card card-nav-tabs card-plain" [ngClass]="{ growerTable: !viewDataActive}" *ngIf="!viewDataActive">
      <div class="card-header card-header-gray" *ngIf="!dashboard && !viewDataActive">
        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="nav-item" id="pendingBtn" (click)="clickPending()">
                <a class="nav-link" [ngClass]="{'nav-link active': pendingActive, 'nav-link': pendingActive, navLink: !pendingActive}" [href]="activeHref"
                  data-toggle="tab">Pending</a>
              </li>
              <li class="nav-item" id="approvedBtn" (click)="clickApproved()">
                <a class="nav-link" [ngClass]="{'nav-link active': approvedActive, 'nav-link': approvedActive, navLink: !approvedActive}" [href]="activeHref"
                  data-toggle="tab">Approved</a>
              </li>
              <li class="nav-item" id="deniedBtn" (click)="clickDenied()">
                <a class="nav-link" [ngClass]="{'nav-link active': deniedActive, 'nav-link': deniedActive, navLink: !deniedActive}" [href]="activeHref"
                  data-toggle="tab">Denied</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body" [hidden]="viewDataActive">
        <div class="tab-content text-center">
          <!-- <div class="tableLbl" *ngIf="pendingActive && !viewDataActive"><span>&nbsp;&nbsp;GROWERS SUBMISSION FOR
              VALIDATION</span></div>
          <div class="tableLbl" *ngIf="approvedActive && !viewDataActive || deniedActive && !viewDataActive">
            <span>&nbsp;&nbsp;LIST OF TRANSACTIONS</span>
          </div> -->

          <div [ngClass]="{'tab-pane active': pendingActive, 'tab-pane': !pendingActive}" id="pending">
            <div class="card">
              <div class="card-header card-header-blue">
                <h4 class="card-title">GROWERS SUBMISSION FOR VALIDATION</h4>
                <!-- <p class="category">Category subtitle</p> -->
              </div>
              <div class="card-body">
                <app-growers-pending-table [dashboard]="dashboard" [status]="'pendingActive'" (viewData)="selectData($event)"></app-growers-pending-table>
              </div>
            </div>
          </div>
          <div [ngClass]="{'tab-pane active': approvedActive, 'tab-pane': !approvedActive}" id="approved">
            <div class="card">
              <div class="card-header card-header-blue">
                <h4 class="card-title">LIST OF TRANSACTIONS</h4>
                <!-- <p class="category">Category subtitle</p> -->
              </div>
              <div class="card-body">
                <app-growers-approved-table [dashboard]="dashboard" [status]="'approvedActive'" (viewData)="selectData($event)"></app-growers-approved-table>
              </div>
            </div>
          </div>
          <div [ngClass]="{'tab-pane active': deniedActive, 'tab-pane': !deniedActive}" id="denied">
            <div class="card">
              <div class="card-header card-header-blue">
                <h4 class="card-title">LIST OF TRANSACTIONS</h4>
                <!-- <p class="category">Category subtitle</p> -->
              </div>
              <div class="card-body">
                <app-growers-denied-table [dashboard]="dashboard" [status]="'deniedActive'" (viewData)="selectData($event)"></app-growers-denied-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="viewDataActive">
      <div class="row btnStyles" *ngIf="viewDataActive">
        <button type="button" class="btn btn-secondary btn-lg" (click)="goBack()"><i class="material-icons">arrow_back_ios</i>&nbsp;&nbsp;BACK</button>
      </div>

      <div class="spacer"></div>

      <div class="card">
        <div class="card-header card-header-blue">
          <h4 class="card-title">Transaction Details</h4>
        </div>
        <div class="card-body transDetails">
          <div class="spacer"></div>
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col col-4">
                  <h4>Transaction ID</h4>
                </div>
                <div class="col dataVal">{{ viewData.transid || '-' }}</div>
              </div>
              <div class="row">
                <div class="col col-4">
                  <h4>Growers Name</h4>
                </div>
                <div class="col dataVal">{{ viewData.name || '-' }}</div>
              </div>
              <div class="row">
                <div class="col col-4">
                  <h4>Member ID</h4>
                </div>
                <div class="col dataVal">{{ viewData.membershipid || '-' }}</div>
              </div>
              <div class="row">
                <div class="col col-4">
                  <h4>Retailer</h4>
                </div>
                <div class="col dataVal">{{ viewData.retailer_name || '-' }}</div>
              </div>
              <div class="row">
                <div class="col col-4">
                  <h4>Field Force</h4>
                </div>
                <div class="col dataVal">{{ viewData.fieldforce_name || '-' }}</div>
              </div>
              <div class="row">
                <div class="col col-4">
                  <h4>Invoice Number</h4>
                </div>
                <div class="col dataVal">{{ viewData.invoice || '-' }}</div>
              </div>
              <div class="row">
                <div class="col col-4" *ngIf="viewData.status == 1 || viewData.status == 4">
                  <h4>Invoice Date</h4>
                </div>
                <div class="col col-4" *ngIf="viewData.status == 2">
                  <h4 style="line-height: 40px;">Invoice Date</h4>
                </div>
                <div class="col dataVal" *ngIf="viewData.status == 1 || viewData.status == 4">
                  <mat-label style="margin-right: 15px;">{{viewData.invoicedate
                    | date: "MM/dd/yyyy"
                    || '-'}}</mat-label>
                </div>
                <div class="col dataVal" *ngIf="viewData.status == 2">
                  <mat-label *ngIf="!dateVal" (click)="picker.open();" style="line-height: 40px; margin-right: 15px;">--/--/----</mat-label>
                  <mat-label *ngIf="dateVal" (click)="picker.open();" style="line-height: 40px; margin-right: 15px;">{{dateVal
                    | date: "MM/dd/yyyy"
                    || '-'}}</mat-label>
                  <mat-datepicker touchUi #picker></mat-datepicker>
                  <mat-datepicker-toggle matSuffix [for]="picker" style="color: #ffa726;"></mat-datepicker-toggle>
                  <input type="hidden" (dateInput)="getDate('input', $event)" (dateChange)="getDate('change', $event)"
                    [matDatepicker]="picker">
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col col-4">
                  <h4>Submission Date</h4>
                </div>
                <div class="col dataVal">
                  {{ viewData.submitteddate | date: "MM/dd/yyyy" || '-' }}
                </div>
              </div>
              <div class="row" *ngIf="viewData.status == 1 || viewData.status == 4">
                <div class="col col-4">
                  <h4>Validated Date</h4>
                </div>
                <div class="col dataVal">
                  {{ viewData.modifieddate | date: "MM/dd/yyyy" || '-' }}
                </div>
              </div>
              <div class="row">
                <div class="col col-4">
                  <h4>Total Gross Sales</h4>
                </div>
                <div class="col dataVal" *ngIf="viewData.status == 2">{{ totalGross || '0' }}</div>
                <div class="col dataVal" *ngIf="viewData.status == 1 || viewData.status == 4">{{ viewData.total_amt ||
                  '0' }}</div>
              </div>
              <div class="row">
                <div class="col col-4">
                  <h4>Attached Invoice</h4>
                </div>
                <div *ngIf="viewData.receipt_photo" class="col dataVal" style="cursor: pointer; text-decoration: underline; color: #ffa726;"
                  data-toggle="modal" data-target="#viewAttachment">{{
                  viewData.receipt_photo ? 'View Attachment': '-' }}
                </div>
                <div *ngIf="!viewData.receipt_photo" class="col dataVal" style="cursor: pointer; text-decoration: underline; color: #ffa726;">{{
                  viewData.receipt_photo ? 'View Attachment': '-' }}
                </div>
              </div>
              <div class="row">
                <div class="col col-4">
                  <h4>Total Points Earned</h4>
                </div>
                <div class="col dataVal">{{ viewData.total_points || 0 }}</div>
              </div>
              <div class="row" *ngIf="viewData.status == 1 || viewData.status == 4">
                <div class="col col-4">
                  <h4>Status</h4>
                </div>
                <div class="col dataVal">{{ viewData.status == 1 ? 'Approved':
                  viewData.status
                  == 4 ? 'Denied' : '-' }}</div>
              </div>
              <div class="row" *ngIf="viewData.status == 4">
                <div class="col col-4">
                  <h4>Reason</h4>
                </div>
                <div class="col dataVal">{{ viewData.remarks }}</div>
              </div>
            </div>
          </div>

        </div>

        <div class="table-responsive">
          <table class="table productTbl">
            <thead class="text-info" style="text-align: center; background: #fcfbfb;">
              <th width="40%">
                Product Name
              </th>
              <th width="20%">
                Quantity
              </th>
              <th width="20%">
                Amount
              </th>
              <th width="20%">
                Earned Points
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let prod of viewData.products">
                <td>
                  {{prod.name}}
                </td>
                <td>
                  {{prod.quantity}}
                </td>
                <td *ngIf="viewData.status == 2">
                  <form #amt="ngForm"><input style="text-align: center;" class="form-control" type="number" name="amount"
                      (change)="addAmt(prod,amt)" placeholder="0" ngModel>
                  </form>
                </td>
                <td *ngIf="viewData.status == 1">
                  {{prod.amount || 0}}
                </td>
                <td *ngIf="viewData.status == 4">
                  {{0}}
                </td>
                <td *ngIf="viewData.status == 2 || viewData.status == 1">
                  {{prod.points * prod.quantity || 0}}
                </td>
                <td *ngIf="viewData.status == 4">
                  {{0}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- <div class="alert alert-danger fade show">
        <div class="container">
          <div class="alert-icon">
            <i style="color: #fff;" class="material-icons">error_outline</i>
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i style="color: #fff;" class="material-icons">clear</i></span>
          </button>
          <b>Error</b> {{errMsg}}
        </div>
      </div> -->

      <div class="row btnStyles" *ngIf="viewData.status == 2">
        <!-- <button type="button" class="btn btn-success btn-lg" (click)="validateData()"><i class="material-icons">thumb_up</i>&nbsp;&nbsp;APPROVED</button> -->
        <button id="approveBtn" [hidden]="false" type="button" class="btn btn-success btn-lg" data-toggle="modal"
          data-target="#approveModal" (click)="approveTrans(true)"><i class="material-icons">thumb_up</i>&nbsp;&nbsp;APPROVED</button>
        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#denyModal"><i class="material-icons">thumb_down</i>&nbsp;&nbsp;DENIED</button>
      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="approveModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="approveModalLabel">PURCHASES {{modalHeader}}</h4>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <h5>Grower will be notified via SMS</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="gotoDashbard()">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="denyModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="denyModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="denyModalLabel">TYPE REASON</h4>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <form style="margin-bottom: 0rem;" #reason="ngForm"><textarea rows="4" cols="40" name="reason" ngModel></textarea></form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#approveModal"
          (click)="denyTrans(reason, false)">SUBMIT</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="viewAttachment" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="viewAttachmentLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" *ngIf="false">
        <h4 class="modal-title" id="viewAttachmentLabel"></h4>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body" data-dismiss="modal">
        <form>
          <div class="form-group">
            <img src="{{attachedImg ? attachedImg : ''}}" style="width: 100%;height: 100%;" data-dismiss="modal" />
          </div>
        </form>
      </div>
      <div class="modal-footer" *ngIf="false">
        <!-- <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#approveModal" (click)="denyTrans(reason, false)">SUBMIT</button> -->
      </div>
    </div>
  </div>
</div>